.woocommerce{
  .woocommerce-breadcrumb{
    padding-left:32px;
    font-size:13px;
  }
  .woocommerce-pagination{
    margin:1374px 0 0 173px;
  }
}
.woocommerce-result-count{
  display:none;
}
#sidebar-wrapper{
  .sidebar-nav{
    width:201px!important;
    padding:30px;
    margin-top:204px;
    font-size: 15px;
    text-transform:uppercase;}

  .styling{
    margin-left:215px!important;

  }}
section{
  .page-title{
    text-align:justify;
    margin-left:300px;
    color:#d5485e;
    font-size: 25px;
  }
}
.woocommerce{
  .form-control{
    width:55px!important;
    margin-top:30px;
    margin-left:110px;
    border:2px solid black;
  }
  .btn{
    background-color:#f3f0ea;
    margin-left: 99px;
    margin-bottom:20px;
    width:75px;
  }
}
.woocommerce-cart{
  .shop_table{

    border-top:2px solid black!important;
    border-bottom:2px solid black!important;
  }}
.cart-subtotal{
  display:none;
}
.tax-rate{
  display:none;
}
.wrapper{
  h1{
    margin-top:47px;
  }}
.woocommerce-billing-fields {
  h3{
    display:none;
  }
}
.woocommerce{
  .input-text{
    background-color: #e5e2df;
    border: none !important;
  }}
.woocommerce-form{
  .woocommerce-validated {
    border: none !important;
  }
}
select{
  .country_select{
    background-color: #e5e2df!important;
  }
}

